<form (ngSubmit)="submitForm()" class = "add-form">
    <mat-form-field class = "example-full-width">
        <mat-label> Title </mat-label>
        <input matInput placeholder="Title" [(ngModel)]="announcement.title" name="Title" required> 
    </mat-form-field>
    <mat-form-field class = "example-full-width">
        <mat-label> Title </mat-label>
        <input matInput placeholder="Title" [(ngModel)]="announcement.title" name="Title" required> 
    </mat-form-field>
    <mat-form-field class = "example-full-width">
        <mat-label> Title </mat-label>
        <input matInput placeholder="Title" [(ngModel)]="announcement.title" name="Title" required> 
    </mat-form-field>
    <mat-form-field class = "example-full-width">
        <mat-label> Title </mat-label>
        <input matInput placeholder="Title" [(ngModel)]="announcement.title" name="Title" required> 
    </mat-form-field>
    <mat-form-field class = "example-full-width">
        <mat-label> Title </mat-label>
        <input matInput placeholder="Title" [(ngModel)]="announcement.title" name="Title" required> 
    </mat-form-field>
</form>
<div class="btn">
    <button class ="btn" mat-raised-button color="accent" routerLink="/home">Submit</button>
    <button class ="btn" mat-raised-button color="warn" routerLink="/home">Cancel</button>
</div>
